


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

	.top_menu ul li a {
		font-size: 14px;
	}

	.fone_wrap .phone span {
		font-size: 20px;
		}


	.pdt {
		padding-top: 170px;
	}

	.sf-menu a {
		font-size: 14px;
	}	

	.pdt {
		padding-top: 10px;
	}
}
	


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.burger-menu {
		display: block;
	}
	
		.top_menu_hide {
		display: none;
		
	}
		.top_menu {
		display: none;
		
	}
	
	.modal-content {
		width: 100%;
	}
	
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

	.burger-menu {
		position: absolute;
		top: 170px;
		right: 20px;
	}

	.sf-menu a {
		font-size: 16px;
	}	

.main_character_model {

	padding-left: 0px;
	padding-top: 5px;
	font-weight: 300;
}

	.tabs {
		padding: 5px;
	}

	.sect_content h2 {
		font-size: 24px;

		padding: 	0 10px
	}	
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.burger-menu {
		position: absolute;
		top: 135px;
		right: 20px;
	}	

	.top_menu_hide .menu_item {

		text-align: left;
	}
	.sf-menu ul {

		top: 95px;

	}
	
	.close {

		top: 5px;
		right: 40px;
	}

	.callback {

	padding: 20px;
	}

	.sect_content h2 {
		font-size: 18px;
		margin: 0;

		padding: 	0 10px
	}	
}
	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
