body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.main-head {
	padding: 0;
	margin: 0;
	
	
}

.line_top {
	background-color: #222222;

}

.logo_wrap {
	padding: 30px 5px;
}
.logo_wrap img {
	width: 100%;
}

.top_menu ul {
	text-align: center;
	padding: 15px 0;
}
.top_menu ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 10px;
}
.top_menu ul li:hover a, .top_menu ul li:hover .active, .top_menu ul li:focus a, .top_menu ul li:focus .active {
	text-decoration: none;
	color: #fff;
}
.top_menu ul li a {
	font-size: 15px;
	color: #A1A9AF;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

.fone_wrap {
	padding: 15px 10px;
}
.fone_wrap .phone {
	color: #A1A9AF;
	text-align: center;
}
.fone_wrap .phone span {
	font-size: 22px;
}

.menu_secondary {
	text-align: center;
	min-height: 50px;
}

.top-mnu {
	z-index: 2;
	background-color: none;
	position: relative;
	text-align: center;
	padding-top: 10px;
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;

}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 40px;
	left: 0px;
	
}
.sf-menu > li {
	float: left;

}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
	font-size: 16px;
	text-decoration: none;
	padding: 5px 5px;
	color: #fff;
	text-transform: uppercase;

	
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
	padding: 15px;
	
}
.sf-menu  li>ul>li>a  {
	color: #fff;
	text-align: left;	
	font-size: 15px;

}

.sf-menu  li>ul>li>a:hover{
	color: #333;


}

.sf-menu  li>ul>li {
	border: 1px solid #333;
	padding: 0 75px 0 10px;
	background-color: #F53F3E;
	margin: 2px 0  ;
	z-index: 999;
}


.top_menu_hide {
	position: relative;
	display: none;
}

.top_menu_hide .menu_item {
	list-style: none;
	text-align: center;
	font-size: 22px;

}

.top_menu_hide .menu_item li a {
	text-decoration: none;
	color: #fff;
	text-decoration: none;

}

.top_menu_hide .menu_item li {

}



.burger-menu {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: none;
	z-index: 3;
	top: 20px;
	right: 20px;
	
}
.burger {
	position: absolute;
	background: rgba(111,111,111,1);
	width: 100%;
	height: 3px;
	top: 50%;
	right: 0px;
	margin-top: -5px;
	opacity: 1;
}
.burger::before {
	position: absolute;
	background: rgba(111,111,111,1);
	width: 50px;
	height: 3px;
	top: 20px;
	content: "";
	display: block;
}
.burger::after {
	position: absolute;
	background: rgba(111,111,111,1);
	width: 50px;
	height: 3px;
	bottom: 20px;
	content: "";
	display: block;
}
.burger::after, .burger::before, .burger {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
	 transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	bottom: 0px;
}
.burger-menu.menu-on .burger::before{
	 transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
	top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}






.breadcrumbs {
	margin-top: 15px;

	padding-left: 0;
	list-style: none;
	font-size: 13px;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li a {
	cursor: pointer;
	color: #F53F3E;
	
}

.sect_content {
	padding: 5px;

}

.sect_content h2 {
	font-size: 36px;
	margin: 0;
	padding-bottom: 50px;
}

.content_img img {
	width: 100%;
	font-weight: 400;
}

.content_price {
	padding-top: 40px;
	text-align: center;
	
}

.price_top strong{
	font-size: 30px;

}

.price_top {
	
}

.price_top span {
	font-size: 14px;
	color: #a8aeb5;
	vertical-align: top;
	line-height: 2.9;
}

.price_top a {
	padding: 5px 20px;
	background-color: #F53F3E;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px  #e40908 solid;
}

.by_click {
	padding-top: 7px;
}
.button{
	padding: 25px;
}

button, .btn {
	border: none;
	text-transform: uppercase;
	padding: 12px 25px;
	border-radius: 5px;
	background-color: #e40908;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.price_bottom {
	float: left;
	padding-left: 50px;
}

.price_bottom span {
	font-size: 12px;
	color: #a8aeb5;
	vertical-align: top;
	line-height: 2.9;
	display: inline-block;
	
}

.price_bottom span a {
	color: #333;
	text-decoration: underline;
	margin-top: -20px;
	margin-left: -30px;
	position: absolute;

}

.price_bottom strong {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.5;
	color: #489B0A;
	letter-spacing: .01px;
	
}

.price_item  {
	padding-bottom: 10px;
}

.price_item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50px;
	width: 80%;
	height: 1px;
	background-color: #ccc;
}

.price_img {
	width: 100%;
	padding-top: 5px;
}

.main_character {

	padding-left: 50px;

}

.main_character_model {
	float: left;
	padding-left: 30px;
	padding-top: 15px;
	color: #A8AbBB;
	font-weight: 600;
}

.main_character_description {
	float: left;

	padding-top: 15px;
	padding-left: 30px;

}

.tabs {
	padding: 50px;
	margin: 0;
}

.tabs ul {
	padding: 0;
	margin: 0;
}
.tabs ul li {
	display: inline-block;
	list-style: none;
	cursor: pointer;
	border:1px solid #F0EFF4;
	padding: 10px;
	border-bottom: none;
	margin-bottom: 0;
	color: #F53F3E;
}

.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
	background-color: #F0EFF4;
	
	margin-top: 0;
	padding:25px;
}
.tabs__content.active {
	display: block; /* по умолчанию показываем нужный блок */
	margin-top: 0;
	font-size: 14px;
	padding:25px;
	color: #333;
}

.tabs ul li.active {
	background-color: #F0EFF4;
	color: #333;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
}

.pdt {
	padding-top: 70px;
}

footer {
	background-color: #F2F4F5;
	padding: 20px 0;
}

footer .top_menu ul li a:hover {
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

footer .top_menu ul li:hover a, .top_menu ul li:hover .active, .top_menu ul li:focus a, .top_menu ul li:focus .active {
	text-decoration: none;
	color: #333;
}

.logo_bottom img {
	height: 50px;

	
}
.logo_bottom {
	text-align: center;
}


.form_wrap {
	text-align: center;
}

form img {
	width: 100%;
}



.modal-content {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: block;
	width: 100%;
	overflow: auto;
	height: 100%;
	z-index: 3;
	padding-top: 3%;
}

.callback {
	max-width: 400px ;
	text-align: center;
	width: 80%;
	display: block;
	margin: auto;
	padding: 50px;
	background-color: #fff;

}
.callback input {
	margin: 10px 5px;
	width: 100%;
	padding: 3px 10px 3px;
	color: #333;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
}

.callback textarea {
	display: block;
	width: 100%;
	margin: 10px 5px;
	padding: 3px 10px 3px;
	border: 1px solid #222;
}
.callback label {
	text-align: left;
}

.close {
	z-index: 99999;
	position: absolute;
	top: 15px;
	right: 35px;
	cursor: pointer;
	color: #ddd;
	font-size: 50px;
}
.close:hover {
	color: #333 ;
}

.btn {
	border: none;
	text-transform: uppercase;
	padding: 22px 25px;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.modal-content strong {
	font-size: 24px;
}

.callback input .btn{
	color: #fff;
	padding: 20px 20px;
}